body{
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Ubuntu";
    color: green;
    text-align: center;
    margin: 45px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
}

.menu a {
    width: 200px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: darkolivegreen;
    font-family: "Ubuntu";
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 0;
}


div.bordersAnimation a:before,
div.bordersAnimation a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: darkolivegreen;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.menu.bordersAnimation a:before {
    top: 0px;
    transform: translateY(-10px);
}

div.menu.bordersAnimation a:after {
    bottom: 0px;
    transform: translateY(10px);
}

div.bordersAnimation a:hover:before,
div.bordersAnimation a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* Styles for the mission section */
.mission {
    background-image: url('background-mission.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.mission-statement {
    width: 500px;
    color: darkolivegreen;
    font-family: "Ubuntu";
    margin-right: 30px;
    border: 1px solid white;
    padding: 10px;
    background-color:rgba(235, 247, 236, .5);
}

.mission-statement h2 {
    font-size: 32px;
}

.mission-statement p {
    font-size: 20px;
    font-family: "Lato";
    text-align: justify;
}

/* Styles for the services section */
.services {
    margin: 30px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services h2 {
    font-size: 32px;
    font-family: "Ubuntu";
    color: darkolivegreen;
}

.service-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 400px;
    padding: 10px;
} 

.service-list img {
    width: 250px;
    height: auto;
    border: 1px solid rgba(231, 247, 232, 0.8);
    border-width: 10px;
}

.service-list h3 {
    width: 80px;
    font-size: 18px;
    font-family: "Lato";
    color: darkolivegreen;
    margin-left: 10px;
    text-align: center;
}

/* Styles for the Team section */
.team {
    height: 500px;
    background-image: url(background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-opacity {
    border: 1px solid white;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(235, 247, 236, .3);
}

.team-opacity h2 {
    margin: 30px;
    font-size: 32px;
    font-family: "Ubuntu";
    color: White;
}

.portrait {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.portrait-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.portrait-image img {
    width: 200px;
    height: auto;
}

.portrait-image h3 {
    color: white;
    text-align: center;
}

.contact {
    background-color: rgba(16, 16, 92, 0.7);
}

.contact h2 {
    margin: 30px;
    font-size: 32px;
    font-family: "Ubuntu";
    color: white;
}

.contact-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: "Lato";
    text-align: center;
    color: white;
}

.contact-details img {
    width: 400px;
    height: auto;
}

aside {
    text-align: center;
    margin: 15px;
    color: white;
}